<th:block th:fragment="bookRows">
    <tbody id="bookTableBody">
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category}"></td>
            <td th:text="${book.publisher}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.stock}"></td>
            <td>
                <img th:src="${book.image}" alt="Book Image" width="120" height="160"/>
            </td>
            <td>
                <button type="button" th:onclick="'addBooks(' + ${book.id} + ')'">Add To Cart</button>
            </td>
			<td>
			                       <form th:action="@{/review/viewReviews}" method="get">
							<input type="hidden" name="bookId" th:value="${book.id}" />
						<button type="submit">Reviews</button>
						</form>
						</td>
        </tr>
    </tbody>
</th:block>
