<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form th:action="@{/users/login}" method="get">
		 <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
        <br />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
		<br/>
        <button type="submit">Login</button>
    </form>
	
    <p>Don't have an account?</p>
    <form th:action="@{/register}" method="get">
        <button type="submit">Register</button>
    </form>
</body>
</html>
